.advantages--background {
  background: $color-ghost-white;
}

.advantages__wrapper {
  padding: 120px 0 119px;
  margin: 0 auto;
  max-width: #{"min(76%, 1038px)"};

  @media (max-width: $vp-1199) {
    padding: 99px 0 94px;
    max-width: #{"min(88.2%, 1105px)"};
  }

  @media (max-width: $vp-767) {
    padding: 69px 0 2px;
    max-width: 100%;
  }
}

.advantages__wrapper h2 {
  margin: 0;
  margin-bottom: 67px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 700;
  font-size: 49px;
  line-height: 100%;
  text-align: center;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: $color-sapphire;

  @media (max-width: $vp-1199) {
    margin-bottom: 49px;
    font-size: 42px;
  }

  @media (max-width: $vp-767) {
    margin-bottom: 25px;
    font-size: 32px;
    letter-spacing: 1px;
  }
}

.advantages__list {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: #{"min(32.8%, 341px)"} #{"min(23.2%, 360px)"} #{"min(35.2%, 341px)"};
  column-gap: 60px;
  list-style: none;

  @media (max-width: $vp-1199) {
    grid-template-columns: 1fr 1fr;
    column-gap: 27px;
  }

  @media (max-width: $vp-767) {
    display: flex;
    flex-direction: column;
  }
}

.advantages__item {
  display: flex;
  min-height: 153px;

  @media (max-width: $vp-1199) {
    min-height: 114px;
  }

  @media (max-width: $vp-767) {
    padding: 25px 0 13px;
    flex-direction: column;
    align-items: center;
  }
}

.advantages__item:nth-child(5n + 4),
.advantages__item:nth-child(5n + 5) {
  min-height: 158px;
  align-items: flex-end;
  border-top: 2px solid $color-crimson-tarnsparent;

  @media (max-width: $vp-1199) {
    min-height: 119px;
    border-top: none;
  }

  @media (max-width: $vp-767) {
    align-items: center;
  }
}

.advantages__item__title {
  display: flex;
  flex-direction: column;

  @media (max-width: $vp-767) {
    margin-bottom: 14px;
  }
}

.advantages__item__title p {
  margin: 0;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  font-size: 71px;
  line-height: 80%;
  color: transparent;
  background-clip: text;
  background-image: $cobalt-to-top;

  @media (max-width: $vp-1199) {
    font-size: 58px;
  }

  @media (max-width: $vp-767) {
    margin: 0 auto;
  }
}

.advantages__item__title span {
  margin-left: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: $color-persian-blue;
  background-image: none;

  @media (max-width: $vp-767) {
    text-align: center;
  }
}

.advantages__description {
  @media (max-width: $vp-767) {
    max-width: #{"min(71.8%, 600px)"};
  }
}

.advantages__item:nth-child(5n + 1),
.advantages__item:nth-child(5n + 4) {
  .advantages__description {
    max-width: #{"min(90%, 183px)"};
  }

  .advantages__item__title {
    margin-left: auto;

    @media (max-width: $vp-1199) {
      margin-left: 0;
    }
  }
}

.advantages__description h3 {
  margin: 0;
  margin-bottom: 11px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 100%;
  color: $color-sapphire;

  @media (max-width: $vp-1199) {
    margin-bottom: 7px;
    font-size: 20px;
  }

  @media (max-width: $vp-767) {
    text-align: center;
  }
}

.advantages__description p {
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 140%;
  color: $color-sapphire;
  background: none;

  @media (max-width: $vp-1199) {
    font-size: 16px;
  }

  @media (max-width: $vp-767) {
    text-align: center;
  }
}

.advantages__item--differ {
  padding: 48px 27px 30px;
  margin: auto;
  max-width: 240px;
  min-height: 307px;
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  display: flex;
  flex-direction: column;
  background: $color-resolution-blue;

  @media (max-width: $vp-1199) {
    padding: 33px 10px 38px;
    min-width: 442px;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }

  @media (max-width: $vp-767) {
    margin: 29px 0 22px;
    padding: 38px 0 33px;
    min-height: 239px;
    min-width: 100%;
  }
}

.advantages__item__title--differ {
  margin-bottom: 33px;

  @media (max-width: $vp-1199) {
    margin-bottom: 13px;
  }
}

.advantages__item__title--differ p {
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  font-size: 74px;
  line-height: 110%;
  letter-spacing: 0.2px;
  text-align: center;
  color: $color-default-white;

  @media (max-width: $vp-1199) {
    font-size: 74px;
    line-height: 100%;
  }
}

.advantages__item__title--differ span {
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 150%;
  letter-spacing: 0.2px;
  text-align: center;
  color: $color-default-white;

  @media (max-width: $vp-1199) {
    font-size: 22px;
  }
}

.advantages__description--differ p {
  max-width: 180px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: $color-default-white;

  @media (max-width: $vp-1199) {
    max-width: 180px;
    margin: 0 auto;
  }
}
