.card__info {
  display: none;
}

.card--state:hover {
  padding: 4.2vw 0 0.7vw;
  justify-content: flex-start;
  background: $color-sapphire-card-transparent;
  outline: none;

  .card__info {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }

  @media (max-width: $vp-1199) {
    padding: 7.3vw 0 0.7vw;
  }

  @media (max-width: $vp-767) {
    padding: 48px 0 15px;
  }
}

.card__list {
  padding: 0;
  padding-left: 1.9vw;
  margin: 0 auto;
  width: 12.5vw;
  display: flex;
  flex-direction: column;
  list-style: none;

  @media (max-width: $vp-1199) {
    padding-left: 2.2vw;
    width: 20.8vw;
  }

  @media (max-width: $vp-767) {
    padding-left: 6.2vw;
    width: 50.94vw;
  }
}

.card__item {
  position: relative;
  margin: 0;
  margin-bottom: 13px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: $color-default-white;

  &::before {
    position: absolute;
    content: "";
    top: 7px;
    left: -15px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: $color-default-white;

    @media (max-width: $vp-1199) {
      left: -16px;
    }
  }
}
