.contacts___wrapper {
  padding: 67px 0 44px;
  margin-left: auto;
  max-width: #{"min(79.2%, 468px)"};
  display: flex;
  flex-direction: column;

  @media (max-width: $vp-1199) {
    padding: 69px 0 44px;
    margin: 0 auto;
    max-width: #{"min(67.1%, 900px)"};
  }

  @media (max-width: $vp-767) {
    padding: 69px 0 42px;
    max-width: #{"min(90.7%, 730px)"};
  }
}

.contacts___wrapper h2 {
  margin: 0;
  margin-bottom: 40px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 700;
  font-size: 49px;
  line-height: 100%;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: $color-sapphire;

  @media (max-width: $vp-1199) {
    padding-left: 5px;
    margin-bottom: 34px;
    font-size: 42px;
    line-height: 100%;
  }

  @media (max-width: $vp-767) {
    padding-left: 0;
    margin-bottom: 35px;
    font-size: 32px;
    letter-spacing: 1px;
  }
}

.contacts__list {
  position: relative;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 100%;
  column-gap: 113px;
  list-style: none;

  &::before {
    position: absolute;
    content: "";
    left: 50%;
    top: 7px;
    width: 1px;
    height: 76%;
    transform: translateX(4px);
    background: $color-light-slate-grey;
  }

  @media (max-width: $vp-1199) {
    grid-template-columns: 1fr 0.9fr;
    max-width: 100%;
    column-gap: 95px;

    &::before {
      top: 7px;
      transform: translateX(15px);
      width: 1px;
      height: 79.5%;
      background: $color-light-slate-grey;
    }
  }

  @media (max-width: $vp-767) {
    grid-template-columns: 1fr;

    &::before {
      display: none;
    }
  }
}

.contacts__item {
  padding-left: 4px;
  margin-bottom: 18px;

  @media (max-width: $vp-1199) {
    padding-left: 3px;
  }

  @media (max-width: $vp-767) {
    margin-bottom: 20px;

    &--swap {
      grid-row: 3 /4;
    }
  }
}

.contacts__item h3 {
  margin: 0;
  margin-bottom: 7px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: $color-sapphire;

  @media (max-width: $vp-1199) {
    padding-left: 2px;
    margin-bottom: 6px;
    font-size: 20px;
    line-height: 150%;
  }

  @media (max-width: $vp-767) {
    padding-left: 0;
    margin-bottom: 5px;
  }
}

.contacts__item p,
.contacts__link {
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: $color-sapphire;

  @media (max-width: $vp-1199) {
    padding-left: 0.8px;
    font-size: 18px;
    line-height: 152.34%;
  }

  @media (max-width: $vp-767) {
    padding-left: 0;
  }
}

.contacts__link {
  &:hover {
    opacity: 0.6;
    outline: none;
  }

  &:focus {
    opacity: 0.3;
    outline: none;
  }
}
