.form__wrapper-input {
  margin-bottom: 8px;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(2, 1fr);

  @media (max-width: $vp-1199) {
    margin-bottom: 9px;
    column-gap: 60px;
  }

  @media (max-width: $vp-767) {
    margin-bottom: 18px;
    display: flex;
    flex-direction: column;
    gap: 0;
  }
}

.form__wrapper-input input {
  padding: 14px 0 6px;
  margin-bottom: 20px;
  min-width: 160px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid $color-light-slate-grey;

  &:hover {
    opacity: 0.6;
    outline: none;
  }

  &:focus {
    opacity: 0.3;
    outline: none;
  }

  &::placeholder {
    margin: 0;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: $color-default-white;
  }
}

.form__button {
  padding: 16px 56px;
  width: 100%;
  border: 3px solid $color-default-white;
  font-size: 14px;
  line-height: 100%;
}
