.navigation__logo {
  padding: 15px 4px 10px;
  display: inline-block;
  vertical-align: baseline;

  @media (max-width: $vp-1199) {
    padding: 11px 2px 11px 7px;
  }

  @media (max-width: $vp-767) {
    padding: 13px 0 7px;
  }
}

.navigation__logo svg {
  @media (max-width: $vp-767) {
    width: 68px;
    height: 15px;
  }
}

.navigation__list {
  margin: 0;
  padding: 0;
  max-width: #{"min(85%, 654px)"};
  display: flex;
  flex-wrap: wrap;
  justify-self: end;
  align-items: center;
  list-style: none;

  @media (max-width: $vp-1199) {
    max-width: #{"min(91%, 654px)"};
  }

  @media (max-width: $vp-767) {
    max-width: 100%;
    flex-direction: column;
    display: block;
    align-items: flex-start;
    font-size: 16px;
  }
}

.navigation__link {
  padding: 16px 16px 18px 18px;
  margin: 0;
  margin-right: 6px;
  display: inline-block;
  vertical-align: baseline;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: $color-default-white;

  &:hover {
    opacity: 0.6;
    outline: none;
  }

  &:focus {
    opacity: 0.3;
    outline: none;
  }

  @media (max-width: $vp-1199) {
    padding: 10px 15px 15px;
    margin: 0;
  }

  @media (max-width: $vp-767) {
    padding: 13px 0;
    font-size: 16px;
  }
}
