.reviews__wrapper {
  padding: 118px 0 102px;
  margin: 0 auto;
  max-width: #{"min(100%, 1366px)"};

  @media (max-width: $vp-1199) {
    padding: 100px 0 81px;
  }

  @media (max-width: $vp-767) {
    padding: 38px 0 52px;
    max-width: #{"max(100%, 320px)"};
  }
}

.reviews__wrapper h2 {
  margin: 0;
  margin-bottom: 33px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 700;
  font-size: 49px;
  line-height: 100%;
  letter-spacing: 1.5px;
  text-align: center;
  text-transform: uppercase;
  color: $color-sapphire;

  @media (max-width: $vp-1199) {
    margin-bottom: 22px;
    font-size: 42px;
  }

  @media (max-width: $vp-767) {
    margin-bottom: 26px;
    font-size: 32px;
    letter-spacing: 1px;
  }
}

.reviews__slider {
  position: relative;
  margin: 0 auto;
  width: #{"min(51.3vw, 700px)"};

  @media (max-width: $vp-1199) {
    width: 91.93vw;
  }

  @media (max-width: $vp-767) {
    width: #{"max(100%, 320px)"};
  }
}

.reviews__wrapper-reviews {
  margin: 0 auto;
  width: #{"min(41vw, 560px)"};
  overflow: hidden;

  @media (max-width: $vp-1199) {
    width: 73.7vw;
  }

  @media (max-width: $vp-767) {
    width: #{"max(70.63vw, 226px)"};
  }
}

.reviews__list {
  padding: 0;
  list-style: none;
}

.reviews__item {
  padding: 61px 60px 36px 64px;
  display: grid;
  column-gap: 26px;
  background: $color-resolution-blue;

  &:focus {
    opacity: 0.9;
    outline: none;
  }

  @media (max-width: $vp-1199) {
    width: 73.7vw;
    padding: 7.94vw 8.2vw 4.7vw 8.5vw;
    column-gap: 27px;
  }

  @media (max-width: $vp-767) {
    width: #{"max(70.63vw, 226px)"};
    padding: 39px 23px 12px;
    column-gap: 15px;
    row-gap: 16px;
  }
}

.reviews__item h3 {
  margin: 0;
  margin-bottom: 17px;
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  color: $color-default-white;

  @media (max-width: $vp-1199) {
    margin-bottom: 16px;
  }

  @media (max-width: $vp-767) {
    margin-bottom: 0;
    align-self: center;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    line-height: 130%;
  }
}

.reviews__item p {
  margin: 0;
  margin-bottom: 20px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: $color-default-white;

  @media (max-width: $vp-767) {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    text-align: center;
  }
}

.reviews__img {
  width: 80px;
  height: 80px;
  grid-row: 1 / 3;
  grid-column: 1 / 2;

  @media (max-width: $vp-767) {
    width: 68px;
    height: 68px;
    justify-self: center;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }
}

.reviews__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;

  @media (max-width: $vp-767) {
    transform: translateX(9px);
  }
}

.reviews__buttons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
}

.reviews__button {
  position: relative;
  top: 0;
  width: #{"min(5.13vw, 70px)"};
  height: 100%;
  background: transparent;
  border: none;

  &:hover {
    opacity: 0.6;
    outline: none;
  }

  &:focus {
    opacity: 0.3;
    outline: none;
  }

  &::after {
    position: absolute;
    content: "";
    top: 50%;
    border: 1px solid $color-dark-gray;
    border-width: 0 1px 1px 0;
    padding: 10px;

    @media (max-width: $vp-767) {
      padding: 6px;
    }
  }

  &--next {
    right: 0;

    &::after {
      transform: translate(-4px, -10px) rotate(-45deg);

      @media (max-width: $vp-767) {
        transform: translate(-8px, -6px) rotate(-45deg);
      }
    }
  }

  &--prev {
    left: 0;

    &::after {
      transform: translate(-17px, -10px) rotate(135deg);

      @media (max-width: $vp-767) {
        transform: translate(-6px, -5px) rotate(135deg);
      }
    }
  }

  @media (max-width: $vp-1199) {
    width: 9.13vw;
  }

  @media (max-width: $vp-767) {
    width: #{"max(14.06vw, 44px)"};
  }
}

.review__button.swiper-button-disabled {
  opacity: -1;
}
